{% extends "TuiDirectorsBundle::base.html.twig" %}

{% block content %}
<h2>Error 404: File not found</h2>
<p>Sorry, we couldn't find the requested file. If you typed it into your browser yourself (instead of following a link), please check that it was entered correctly.</p>
{% endblock %}