{% extends "TuiDirectorsBundle::base.html.twig" %}

{% block title %}About Us - Who runs it?{% endblock %}

{% block leftcol%}
<h2>About WhoRunsIt</h2>
  <p>Companies House will show you the directors of a specific company, but we think it's important and helpful to be able to make the reverse search: <strong>which companies are connected to a given person?</strong> This is useful, for example, for checking the validity of the UK Parliament's Register of Members' Interests. It's also a useful tool for investigative journalism, and many other public interest exercises.</p>
  <p>So we bought the data from Companies House and turned it loose in a linked, annotated, searchable form. Free for non-commercial use.</p>

<h2>About Us</h2>
    <p>We're; Matt, Jake, Sam, Neil, Graeme, and Russ. We've worked on a number of projects that focus on the conjunction of business and politics, most notably <a href="http://whoknowswho.channel4.com/">a project</a> we pitched to Channel 4 in 2009 and subsequently <a href="http://whoknowswho.googlecode.com/">open-sourced</a>. We also worked on a UK release of <a href="http://littlesis.org/local/uk">LittleSis</a>. You may also be interested in our <a href="http://guardian.mapofpower.com/">Guardian/Calais news mashup</a>.</p>
{% endblock %}