{% extends "::base.html.twig" %}

{% block title %}UK Company Directors{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" media="screen, projection" type="text/css" href="{{ asset('css/blueprint/screen.css') }}" />
  <link rel="stylesheet" media="print" type="text/css" href="{{ asset('css/blueprint/print.css') }}" />
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ asset('css/blueprint/ie.css') }}" type="text/css" media="screen, projection" />
  <![endif]-->
{% endblock %} 

{% block body %}
  <div class="container">
    <div class="span-18">
      <h1><a href="{{ url("home") }}">{% block pagetitle %}UK Company Directors{% endblock %}</a></h1>
    </div>
    <div class="span-6 last">&nbsp;</div>

    <br class="clear">

    <form action="/search/all" method="get" accept-charset="utf-8">
      <p>
        <label for="search">Search:</label> <input type="text" name="q" value="" id="search">
        <input type="submit" value="Continue &rarr;">
      </p>
    </form>

    <hr>
    
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}