{% extends "TuiDirectorsBundle::base.html.twig" %}

{% block title %}FAQ - Who runs it?{% endblock %}

{% block leftcol %}
<h2>WhoRunsIt is closing down</h2> 

<p>When we started out with WhoRunsIt, our aim was simple: to make the public record more transparent. It surprised us that company director data wasn't more freely available or easily searchable. After all it's the public record: essential for an accountable, open society. So we bought a bulk data package from Companies House and built a simple application, database and API around it. We set out to make what we thought Companies House should be offering. WhoRunsIt was (to our knowledge) the first site to allow free searches on director names, not just company names. It remains to this day the only such site with a freely accessible API with results in machine-readable formats. </p>

<p>Since WhoRunsIt launched, we've seen tremendous growth and innovation in this sector. <a href="http://www.levelbusiness.com/">LevelBusiness</a> and <a href="http://www.duedil.com/">Duedil</a> in particular have led the way in building a business around public data. <a href="http://www.opencorporates.com/">OpenCorporates</a> has become an astonishing resource; not just a truly global database of companies, but also an authority on how that data should be presented and shared. Their tireless work helped shape the new Companies House open data site and unique company URLs.</p>

<h2>Why close down?</h2>

<p>It was clear from the start for us that we wouldn't be able to keep WhoRunsIt going on our own. But why not leave the site as it is to gently decay? One reason is that a steady flow of harrassing emails continues to demand that we censor the public record in their (or their clients') favour. There's not much, but it's persistent and often angry, and it's enough to drain us of time, patience and goodwill. Boo hoo.</p>

<p>Much more importantly though is that without the means to keep the data fresh, WhoRunsIt becomes less and less relevant. We can only afford (very occasional) snapshots of the public record, but hundreds, even thousands, of companies are created, closed, or change directors every week, many of them lasting just a few days. Snapshots completely fail to capture this information, but a daily feed costs nearly £50,000/year. </p>

<h2>But what if you…?</h2>

<p>We tried taking donations (we got nearly €1!), and others have offered us updated snapshots in the past. Both are very generous, but neither really address the problem. And since we believe that advertising or charging for access would undermine the value and purpose of the site, our options are limited. We think the real solution is for Companies House to either provide this service itself, or make the data freely available.</p>

<h2>I'll do it instead!</h2>

<p>You're beautiful and crazy and we love you. <a href="http://inanimatt.com/contact.html">Get in touch</a>.</p>

{% endblock %}
