{% extends "TuiDirectorsBundle::base.html.twig" %}

{% block title %}FAQ - Who runs it?{% endblock %}

{% block leftcol %}
<h2>FAQ</h2> 
 
  <dl> 
    <dt>What is this?</dt> 
    <dd><p>This is the company appointment data held by Companies House, in a linked, annotated, searchable form. Free for non-commercial use. It is a list of the names of all company directors and secretaries in England, Wales, and maybe some other places too.</p> 
    <p>Companies House let you retrieve a list of appointments for a specific company, but we think it's important and helpful to be able to make the reverse search: which companies are connected to a given person? This is useful, for example, for checking the validity of the UK Parliament's Register of Members' Interests. It's also a useful tool for investigative journalism, and many other public interest exercises.</p> 
    </dd> 
  
    <dt>Is this all the data?</dt> 
    <dd><p>No. Companies House introduced the ability to provide a service address only a little while before we bought our initial dataset, and many (most?) entries still have residential addresses listed with their appointments. We don't feel that it's right to give out this information, although anyone may obtain it by applying for a report from Companies House itself.</p> 
      <p>Companies that are currently active (not dissolved) are linked to <a href="http://opencorporates.com/">OpenCorporates</a>, who are A) lovely, and B) have richer information on companies than is available in our data files.</p> 
    </dd> 

    <dt>These are my personal details, I want them taken down!</dt>

    <dd>
      <p>We understand that you've got some privacy concerns, so we've done the following things to make sure your information won't be misused:</p>

      <ul>
        <li>We don't show full addresses or postcodes (even service addresses) because a lot of the data we have is from before service addresses were introduced. Instead, we attempt to show only the town portion of the address. In some cases (where forms have been incorrectly filled out, or incorrectly entered by Companies House), a different line of the address might be shown. You need to contact Companies House if that's happened, not us. Bear in mind that our records lag behind theirs by several months, so it will take some time for the change show up in our database. We cannot edit your data.</li>
        <li>We don't show your full date of birth. Instead we show an age-bracket, or year of birth. This information is important for making accurate searches, so we don't hide it completely, but we know that some places like banks (very unwisely) use date of birth as a security check, even though it's very easy to discover. If this bothers you (and it should), complain to them.</li>
      </ul>

      <p>But we won't remove your data from our site. Here's why:</p>

      <ul>
        <li>The information is a public record, which means anyone has a right to look it up. And they do it all the time without you knowing about it. You have to file these details with Companies House, and they have to make them available to the public. You maybe didn't realise, but it's part of the deal you make when you register a company: to make sure that you can be held accountable to the public. The people of the UK, through the state, give you benefits such as protection under law and limited liability, and in exchange you sacrifice a little of your privacy.</li>

        <li>The Data Protection Act has an exemption for the information collected by Companies House, which is what we show. Please don't threaten us with the Data Protection Act. It does not cover you in this instance, and your information will still be publicly available elsewhere. You'll only waste your time and ours by asking us to take the information down.</li>

        <li>Your information is freely available elsewhere. Your full name, date of birth, directorships, home and service addresses, even company accounts are all available to private companies and individuals. Anyone can request it from Companies House, but there are other public records too, like the electoral roll, the register of births and deaths, the land registry, etc.</li>

        <li>We aren't a company or an organisation, we have day jobs, so we don't have the time to respond personally to requests or edit the information we hold. But we wouldn't even if we did, because this is a public resource made up of public data. People have a right to know, and even if you think they don't, the information is already out there to anyone who asks. We think that you're better off knowing what other people can see about you, so you aren't under any illusions.</li>

      </ul>
    </dd>
    
      
    <dt>How up to date is it?</dt> 
    <dd><p>This data is based on a snapshot taken in April 2011. If we get another £4000, we'll buy it again. We welcome donations to this end - please <a href="http://inanimatt.com/contact.php">get in touch</a>.</p></dd> 
  
    <dt>Non-commercial?</dt> 
    <dd><p>We strongly believe in projects like TheyWorkForYou.com, WhosLobbying.com, and OpenCorporates, and want to support all efforts to bring greater accountability and transparency to government and big business. We think that opening this Companies House data will help. However, because we're not Companies House, it costs us money to acquire the data. If you wish to use this data for commercial gain, we ask that you pay for your access so that we can continue to provide up to date information.</p></dd> 
  
    <dt>Can I just have the original data files?</dt> 
    <dd><p>Unfortunately the sales agreement we have signed with Companies House does not allow us to distribute the data files. We can, however, redistribute the full contents of them in a different format (strange but true, and anyway believe me, you don't want them in the original format). Besides, we'd like to keep the data here so everyone can share the annotations.</p></dd> 
  
    <dt>What are annotations?</dt> 
    <dd><p>We're hoping to enrich the data by linking it to other places. If you know a particular company or person has, for example, a Wikipedia page, you can add it as an annotation. By linking our data to Wikipedia, TheyWorkForYou, etc, we can enrich both sites. </p></dd> 
  
    <dt>Who are you?</dt> 
    <dd><p>We're: Matt, Jake, Sam, Neil &amp; Graeme. We've worked on a number of projects that focus on the conjunction of business and politics, most notably <a href="http://whoknowswho.channel4.com/">a project</a> we pitched to Channel 4 in 2009 and subsequently <a href="http://whoknowswho.googlecode.com/">open-sourced</a>. We also worked on a UK release of <a href="http://littlesis.org/local/uk">LittleSis</a>. You may also be interested in our <a href="http://guardian.mapofpower.com/">Guardian/Calais news mashup</a>.</p></dd> 
  
  
  </dl> 
{% endblock %}
