{% extends "TuiDirectorsBundle::base.html.twig" %}

{% block contentheader %}
<div class="span-10 last" id="index-search">    
    <form action="{{ url('search_all') }}" method="get" accept-charset="utf-8">
        <p>
        	<label for="search">Look for a person or company:</label> 
        	<div class="span-7"><input type="text" name="q" value="" id="search" class="span-7"></div>
        	<div class="span-1 last"><input type="submit" value="Search" class="success"></div>
        </p>
    </form>
</div>
{% endblock %}

{% block leftcol %}
  <h2>What's this?</h2>
    <p>These are the names and connected companies of every company directory and secretary in the UK. Companies House will show you the directors of a specific company, but we think it's important and helpful to be able to make the reverse search: <strong>which companies are connected to a given person?</strong> This is useful, for example, for checking the validity of the UK Parliament's Register of Members' Interests. It's also a useful tool for investigative journalism, and many other public interest exercises.</p>
    <p>So we bought the data from Companies House and turned it loose in a linked, annotated, searchable form. Free for non-commercial use*.</p>
    <p>Soon we'll be inviting you to help add another big piece of missing data: <b>non-executive directors</b>. Everything you add will be published under an open database licence and be accessible through a simple API.</p>
    <small>* Unfortunately the Companies House data itself is Crown copyright for now, used under license.</small>
{% endblock %}

{% block rightcol %}
  <div class="success">
    <h2>New data!</h2>
    <p>Thanks to the kindness and generosity of our friends at <a href="http://www.levelbusiness.com/">LevelBusiness</a>, WhoRunsIt is now running from an updated dataset!</p>
  </div>
  <h2>Get involved</h2>
    <p>We need donations to update the companies house data we have. Even £1 will help!</p>
    <!-- <p>Join our (very) low volume mailing list and we'll tell you what's new:</p> -->
    <p>Follow us on Twitter: <a href="http://www.twitter.com/whorunsit">@WhoRunsIt</a></p>
{% endblock %}

{% block headersearch %}{% endblock %}