{% extends "TuiDirectorsBundle::base.html.twig" %}

{% block contentheader %}
<div class="span-10 last" id="index-search">    
    <form action="{{ url('search_all') }}" method="get" accept-charset="utf-8">
        <p>
        	<label for="search">Look for a person or company:</label> 
        	<div class="span-7"><input type="text" name="q" value="" id="search" class="span-7"></div>
        	<div class="span-1 last"><input type="submit" value="Search" class="success"></div>
        </p>
    </form>
</div>
{% endblock %}

{% block leftcol %}
  <h2>What's this?</h2>
    <p>These are the names and connected companies of every company director and secretary in the UK. Companies House will show you the directors of a specific company, but we think it's important and helpful to be able to make the reverse search: <strong>which companies are connected to a given person?</strong> This is useful, for example, for checking the validity of the UK Parliament's Register of Members' Interests. It's also a useful tool for investigative journalism, and many other public interest exercises.</p>
    <p>So we bought the data from Companies House and turned it loose in a linked, annotated, searchable form. Free for non-commercial use.</p>
{% endblock %}

{% block rightcol %}
  <h2>Get involved</h2>
    <p>If you're interested in sponsoring us so we can keep our data up to date, <a href="http://inanimatt.com/contact.html">please get in touch</a>!</p>
    
    <p>We're proudly open-source. <a href="https://github.com/tuimedia/whorunsit">Find us on GitHub</a>. Pull requests welcome!</p>
  
    
    <p>Follow us on Twitter: <a href="http://www.twitter.com/whorunsit">@WhoRunsIt</a></p>
{% endblock %}

{% block headersearch %}{% endblock %}