{% extends "TuiDirectorsBundle:Default:base.html.twig" %}

{% block content %}
<h2>Privacy policy and terms of service</h2>

<h3>You and your data</h3>
<ul>
  <li>You don't need an account to browse the site. User accounts allow you to add annotations to the data.</li>
  <li>You do not have to provide your real name or any personal details other than email address to use this site.</li>
  <li>By logging in to your account, you grant us the right to store, display, and redistribute the content you add to the dataset.</li>
  <li>You may delete your account at any time. Your personal details will be removed from the system, however content you have provided in the public interest may continue to be used.</li>
  <li>If you have an account, we will use your email address to log you in, and to send you a password reset code if you request one.</li>
  <li>If you have an account, we may also contact you if we think your account has been misused or compromised.</li>
  <li>Your account is for you. Do not share it with others. You may be held responsible for actions carried out using your account. We recommend you use a strong password or pass-phrase.</li>
  <li>We collect anonymous usage statistics through a third party analytics provider (Google). Google collects a number of statistics about (frankly) whatever it can get (for example, screen resolution, IP address, choice of web browser), however they present these statistics to us only in aggregate. You may opt out of Google's Analytics programme at <a href="http://www.google.com/privacy_ads.html" title="Advertising and Privacy – Google Privacy Center">http://www.google.com/privacy_ads.html</a> or by blocking *.google-analytics.com in your browser or network. We won't hold it against you.</li>
  <li>The site, the data, and your account are provided without any guarantee of service. We reserve the right to withdraw service at any time without compensation.</li>
  <li>Unless required to by law, we will never share your account information (username, email address, password) with a third party.</li>
  <li>In future, we may offer additional services for a fee. (We're not saying we will, we just don't want to rule it out.) If we do so, we'll ask you to provide relevant details if (and only if) you choose to use those services.</li>
</ul>

<h3>The appointments data</h3>
<ul>
  <li>We provide Companies House appointments data under license and in accordance with their sales agreement. This core dataset retains its Crown Copyright.</li>
  <li>The data provided by Companies House is public information. Out of respect for personal privacy we currently withhold service addresses except for the first part of the postcode. This is because Companies House only introduced non-residential service addresses a few months before we bought our initial dataset, and as a consequence most addresses are home addresses. It may surprise or distress you, but we have no obligation to conceal (or reveal) any of the data which is a matter of public record, including your date of birth, full service address, occupation, directorships or nationality. Anyone may purchase this data from Companies House (or any number of resellers) for a nominal fee. It is not private, even if we were to remove it from our site.</li>
  
</ul>


<h2>Changes to this policy</h2>

<p>2011-05-06: policy rewritten to reflect the following changes: the system now offers user accounts, so we will store a minimal amount of personal data. We may now contact you under certain circumstances (for example if your account is misused or compromised, or if significant changes occur to the site that require your action).</p>
{% endblock %}