html, body {
    background-color: #eee;
}

.container {
    background-color: #fff;
    padding: 20px 20px 40px 20px;
    -moz-box-shadow: rgba(0,0,0, 0.25) 3px 3px 12px;
    -webkit-box-shadow: rgba(0,0,0, 0.25) 3px 3px 12px;
}

h2 {
    font-size: 1.5em; 
    line-height: 1; 
    margin-bottom: 1em;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #19bcd4;
}

span.key {
    font-weight: bold;
}

/* Nav links */

#internal-links {
    float:right;
    margin-top: -36px;
}

/* Search form on most pages */
#right-col-search #search { 
    width: 145px;
}

#right-col-search input.success {
    padding:5px;
    margin-top: 5px;
    background-color: #DDD;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD));
	background: -moz-linear-gradient(top,  #EEE,  #DDD);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DDDDDD');
}

#right-col-search p {
    margin: 0;
    float: right;
}

/* Index page search form */

#index-search {
    background-color: #DDD;
    padding: 0 0 10px 20px;
    margin-left: 60px;
    border: 1px solid #ccc;
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#dddddd));
    background: -moz-linear-gradient(top,  #eaeaea,  #dddddd);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#dddddd');
}

#index-search form label,
#index-search form input {
    float: left;
    clear: left;
}

#index-search form input {
    padding: 5px;
}

#index-search form label,
#index-search form input { 
    font-size: 1.5em; 
    line-height: 1;
    text-shadow: white 0px 1px 0px; 
}


#index-search form input.success {
    margin-top: 9px;
    font-weight: bold;
    padding: 6px;
    background-color: #B3D45E;
    background: -webkit-gradient(linear, left top, left bottom, from(#D3F47E), to(#B3D45E));
	background: -moz-linear-gradient(top,  #D3F47E,  #B3D45E);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D3F47E', endColorstr='#B3D45E');
}

#index-search form input.success:hover {
    background-color: ##D8F984;
    background: -webkit-gradient(linear, left top, left bottom, from(#D8F984), to(#B8D964));
	background: -moz-linear-gradient(top,  #D8F984,  #B8D964);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8F984', endColorstr='#B8D964');
}

#right-col-search input {
    padding:5px;
}

#index-search form input.success,
#right-col-search input.success {
    color: #264409;
    border: 1px solid #BBB;
    cursor: pointer;
}

/* Tables */
tbody tr:nth-child(even) td, tbody tr.even td {
    background: #EEE;
}

thead th {
    background: #DDD;
}

#footer
{
  width: 980px;
  margin: 10px auto;
  font-size: 80%;
  color: #999;
}

dt.status-dissolved a
{
  color: #999;
}